# Web
fastapi>=0.111.0
uvicorn[standard]>=0.30.0

# ORM / 数据库
SQLAlchemy>=2.0.30
pydantic[email]>=2.8.2
pydantic-settings>=2.4.0
alembic>=1.13.0

# 运行时数据库驱动（你主用 MySQL）
PyMySQL>=1.1.0

# 种子/工具
PyYAML>=6.0.1
cryptography>=42.0.0
